<?xml version="1.0"?>

<launch>

  <!-- Params defining the paths of the csv files to read -->
  <param name="back_csv_path" value="/data/volunteer_01/IMUs/back.csv"/>
  <param name="lla_csv_path" value="/data/volunteer_01/IMUs/lla.csv"/>
  <param name="lua_csv_path" value="/data/volunteer_01/IMUs/lua.csv"/>
  <param name="rla_csv_path" value="/data/volunteer_01/IMUs/rla.csv"/>
  <param name="rt_csv_path" value="/data/volunteer_01/IMUs/rt.csv"/>
  <param name="rua_csv_path" value="/data/volunteer_01/IMUs/rua.csv"/>

  <!-- Run the adapters -->
  <group ns="adapter">
    <node name="back_IMU_adapter" pkg="group_project" type="back_IMU_adapter.py" output="screen"/>
    <node name="lla_IMU_adapter" pkg="group_project" type="lla_IMU_adapter.py" output="screen"/>
    <node name="lua_IMU_adapter" pkg="group_project" type="lua_IMU_adapter.py" output="screen"/>
    <node name="rla_IMU_adapter" pkg="group_project" type="rla_IMU_adapter.py" output="screen"/>
    <node name="rt_IMU_adapter" pkg="group_project" type="rt_IMU_adapter.py" output="screen"/>
    <node name="rua_IMU_adapter" pkg="group_project" type="rua_IMU_adapter.py" output="screen"/>
  </group>

</launch>